h1 {
  margin: 0;
}

.App {
  background-color: var(--linen);
  color: var(--grey80);
  min-height: 100vh;
  transition: background-color 200ms, color 200ms;
}

.App.darkmode {
  background-color: var(--space_cadet);
  color: var(--linen);
}

.App-header {
  margin: 0 1rem .5rem;
  padding: .5rem 0 0;
}

.App-body {
  margin: 1rem;
}

.App-form {
  background-color: inherit;
  padding: .5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

@media (min-width: 50rem) {
  .App-form {
    padding: .5rem 0;
  }
}
.App-form .main-form {
  display: flex;
}

.App-form button {
  font-size: 1rem;
  margin-left: .5rem;
}

.App-form label {
  flex-grow: 1;
}

.App-form .main-form input,
.App-form .main-form span {
  display: block;
  font-size: 1rem;
  width: 100%;
}

@media (min-width: 50rem) {
  .app-section {
    margin: auto;
    width: 50vw;
  }
}
